.venv/
__pycache__/
*.pyc

sample_images/
sample_images_out/
single_image_out/
_inspect_realesrgan_py/
HAT_Pretrained_Models/
hat_single_out.png
sample_input.mp4
sample_ffmpeg_progress_fix.mp4
sample_video_ai.mp4
sample_video_upscale_only.mp4
sample_video_vsr.mp4

*.mp4
*.mkv
*.mov
*.avi

dist/
build/
*.spec
